{{#if error}}
<p>{{error}}</p>
{{/if}}
<p>Please enter your phone number (starting with +84) to receive a verification code:</p>
<form method="post" action="/step2">
  <input type="tel" name="number" required/>
  <input type="submit" value="Send code" />
</form>